# Imports

In [1]:
import sys
print(sys.version)

3.9.16 (main, Dec  7 2022, 01:11:51)
[GCC 9.4.0]

In [2]:
import pandas as pd
import numpy as np
import statistics

In [3]:
!pip install statsbombpy
!pip install pandas
!pip install tidyverse
!pip install r2d3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting statsbombpy
  Downloading statsbombpy-1.9.0-py3-none-any.whl (16 kB)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from statsbombpy) (1.2.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from statsbombpy) (1.5.3)
Requirement already satisfied: inflect in /usr/local/lib/python3.9/dist-packages (from statsbombpy) (6.0.4)
Collecting requests-cache
  Downloading requests_cache-1.0.1-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.7/58.7 kB 3.8 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from statsbombpy) (2.27.1)
Requirement already satisfied: pydantic>=1.9.1 in /usr/local/lib/python3.9/dist-packages (from inflect->statsbombpy) (1.10.7)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->statsbombpy) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->statsbombpy) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas->statsbombpy) (1.22.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->statsbombpy) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->statsbombpy) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->statsbombpy) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->statsbombpy) (3.4)
Collecting cattrs>=22.2
  Downloading cattrs-22.2.0-py3-none-any.whl (35 kB)
Collecting url-normalize>=1.4
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: attrs>=21.2 in /usr/local/lib/python3.9/dist-packages (from requests-cache->statsbombpy) (22.2.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests-cache->statsbombpy) (3.2.0)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.9/dist-packages (from cattrs>=22.2->requests-cache->statsbombpy) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.9/dist-packages (from pydantic>=1.9.1->inflect->statsbombpy) (4.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->statsbombpy) (1.16.0)
Installing collected packages: url-normalize, cattrs, requests-cache, statsbombpy
Successfully installed cattrs-22.2.0 requests-cache-1.0.1 statsbombpy-1.9.0 url-normalize-1.4.3
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tidyverse
  Downloading tidyverse-0.1.0-py3-none-any.whl (1.1 kB)
Collecting siuba<0.4.0,>=0.3.0
  Downloading siuba-0.3.0-py3-none-any.whl (142 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 142.1/142.1 kB 8.8 MB/s eta 0:00:00
Requirement already satisfied: plotnine<0.11.0,>=0.10.1 in /usr/local/lib/python3.9/dist-packages (from tidyverse) (0.10.1)
Requirement already satisfied: scipy>=1.5.0 in /usr/local/lib/python3.9/dist-packages (from plotnine<0.11.0,>=0.10.1->tidyverse) (1.10.1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from plotnine<0.11.0,>=0.10.1->tidyverse) (0.5.3)
Requirement already satisfied: mizani>=0.8.1 in /usr/local/lib/python3.9/dist-packages (from plotnine<0.11.0,>=0.10.1->tidyverse) (0.8.1)
Requirement already satisfied: matplotlib>=3.5.0 in /usr/local/lib/python3.9/dist-packages (from plotnine<0.11.0,>=0.10.1->tidyverse) (3.7.1)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.9/dist-packages (from plotnine<0.11.0,>=0.10.1->tidyverse) (1.22.4)
Requirement already satisfied: statsmodels>=0.13.2 in /usr/local/lib/python3.9/dist-packages (from plotnine<0.11.0,>=0.10.1->tidyverse) (0.13.5)
Requirement already satisfied: pandas>=1.3.5 in /usr/local/lib/python3.9/dist-packages (from plotnine<0.11.0,>=0.10.1->tidyverse) (1.5.3)
Requirement already satisfied: SQLAlchemy>=1.2.19 in /usr/local/lib/python3.9/dist-packages (from siuba<0.4.0,>=0.3.0->tidyverse) (2.0.9)
Requirement already satisfied: PyYAML>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from siuba<0.4.0,>=0.3.0->tidyverse) (6.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5.0->plotnine<0.11.0,>=0.10.1->tidyverse) (1.0.7)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5.0->plotnine<0.11.0,>=0.10.1->tidyverse) (4.39.3)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5.0->plotnine<0.11.0,>=0.10.1->tidyverse) (5.12.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5.0->plotnine<0.11.0,>=0.10.1->tidyverse) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5.0->plotnine<0.11.0,>=0.10.1->tidyverse) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5.0->plotnine<0.11.0,>=0.10.1->tidyverse) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5.0->plotnine<0.11.0,>=0.10.1->tidyverse) (23.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5.0->plotnine<0.11.0,>=0.10.1->tidyverse) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5.0->plotnine<0.11.0,>=0.10.1->tidyverse) (2.8.2)
Requirement already satisfied: palettable in /usr/local/lib/python3.9/dist-packages (from mizani>=0.8.1->plotnine<0.11.0,>=0.10.1->tidyverse) (3.3.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.5->plotnine<0.11.0,>=0.10.1->tidyverse) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->plotnine<0.11.0,>=0.10.1->tidyverse) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from SQLAlchemy>=1.2.19->siuba<0.4.0,>=0.3.0->tidyverse) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.9/dist-packages (from SQLAlchemy>=1.2.19->siuba<0.4.0,>=0.3.0->tidyverse) (4.5.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib>=3.5.0->plotnine<0.11.0,>=0.10.1->tidyverse) (3.15.0)
Installing collected packages: siuba, tidyverse
Successfully installed siuba-0.3.0 tidyverse-0.1.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement r2d3 (from versions: none)
ERROR: No matching distribution found for r2d3

In [4]:
from statsbombpy import sb

# Get event dataframes

In [5]:
# get all events in a season
events = sb.competition_events(
    country="Spain",
    division= "La Liga",
    season="2017/2018",
    gender="male",
    split = True
)
type(events)

/usr/local/lib/python3.9/dist-packages/statsbombpy/api_client.py:21: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn(

collections.defaultdict

In [6]:
comps = sb.competitions()

/usr/local/lib/python3.9/dist-packages/statsbombpy/api_client.py:21: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn(

In [7]:
### This block may take a few mins to run ###

# Get all La Liga competitions (17 total)

import warnings
warnings.filterwarnings('ignore')

# List of dicts containing all La Liga competition data
la_liga = []

# List of ids (e.g. "La Liga 2018/2019")
ids = []
j = 1
for i, row in comps.iterrows():
  # Skip any competitions that aren't La Liga
  if row["competition_name"] != "La Liga":
    continue
  
  print("Reading row " + str(j) + "/17")
  j += 1
  # Pull the competition events via the statsbombpy API
  curr_event = sb.competition_events(
      country=row["country_name"],
      division=row["competition_name"],
      season=row["season_name"],
      gender=row["competition_gender"],
      split = True
  )
  id = row["competition_name"] + " " + row["season_name"] 
  ids.append(id)
  la_liga.append({id: curr_event})

Reading row 1/17
Reading row 2/17
Reading row 3/17
Reading row 4/17
Reading row 5/17
Reading row 6/17
Reading row 7/17
Reading row 8/17
Reading row 9/17
Reading row 10/17
Reading row 11/17
Reading row 12/17
Reading row 13/17
Reading row 14/17
Reading row 15/17
Reading row 16/17
Reading row 17/17

In [8]:
# df with all pass events
passes_df = events["passes"]
# events.head()

# Top lineups and starters (by id)

In [9]:
print(ids)
#print(ids[0])

['La Liga 2020/2021', 'La Liga 2019/2020', 'La Liga 2018/2019', 'La Liga 2017/2018', 'La Liga 2016/2017', 'La Liga 2015/2016', 'La Liga 2014/2015', 'La Liga 2013/2014', 'La Liga 2012/2013', 'La Liga 2011/2012', 'La Liga 2010/2011', 'La Liga 2009/2010', 'La Liga 2008/2009', 'La Liga 2007/2008', 'La Liga 2006/2007', 'La Liga 2005/2006', 'La Liga 2004/2005']

In [10]:
#Put this inside a loop for all La Liga seasons
from collections import Counter, defaultdict

#starters = la_liga[0]["La Liga 2020/2021"]["starting_xis"]
winners = []
all_starters = []
id_names = {}
id_pos = {}
all_starting_players = []


for i, comp in enumerate(la_liga):
  # Get all starting lineups from the season data
  starters = comp[ids[i]]["starting_xis"]
  teams = starters["possession_team"]
  
  # Get team that won the season
  data = Counter(teams)
  #print(data)
  winner = max(teams, key=data.get)
  starting_players = defaultdict(int)

  winners.append({ids[i]: winner})
  curr_starters = starters[starters["team"] == winner]["tactics"].to_dict()
  # starting_xi = defaultdict(int)
  # Find the most common starting lineup for the season to use for our analysis
  for lineup in curr_starters.values():
    players = [p["player"] for p in lineup["lineup"]]
    positions = [p["position"]['name'] for p in lineup["lineup"]]
    player_ids = [str(players[k]['id']) for k in range(len(players))]
    
    # add id and names to id_names
    for j in players:
      id_names[str(j['id'])] = j['name']
      
      starting_players[j['id']] += 1
    id_pos.update(zip(player_ids, positions))

    # p_ids = sorted([str(x["id"]) for x in players])
    # starting_xi[' '.join(p_ids)] += 1

  # get top 11 each season
  s = sorted(starting_players.items(), key=lambda x:x[1], reverse=True)[:11]
  all_starting_players.append({ids[i]: s})

# for starter in all_starting_players:
#   print(starter.values())

  # starting_xi = sorted(starting_xi.items(), key=lambda x:x[1], reverse=True)
  # all_starters.append({ids[i]: starting_xi[:1][0][0].split()})

# all_starters contains a list of dicts with the season ID as the key and the 
# value is a list of the most frequent starting 11 player IDs
# all_starters[0]
# positions

# all_starting_players[1]
# s
#all_starting_players is dict, key = season ID, value = list of tuples (player ID, num_starts)

In [11]:
id_pos

{'20055': 'Goalkeeper',
 '32480': 'Left Center Back',
 '5213': 'Right Center Back',
 '6826': 'Left Center Back',
 '5477': 'Right Wing',
 '5211': 'Left Back',
 '5203': 'Center Defensive Midfield',
 '39073': 'Right Center Midfield',
 '30486': 'Left Midfield',
 '5487': 'Left Center Forward',
 '5503': 'Right Wing',
 '43728': 'Right Center Back',
 '6947': 'Center Defensive Midfield',
 '24841': 'Center Attacking Midfield',
 '4447': 'Left Midfield',
 '5492': 'Left Center Back',
 '21881': 'Right Wing Back',
 '8118': 'Center Defensive Midfield',
 '3501': 'Left Wing',
 '6590': 'Goalkeeper',
 '6379': 'Right Center Midfield',
 '30756': 'Right Wing Back',
 '17304': 'Left Back',
 '22390': 'Right Wing',
 '6374': 'Right Back',
 '5470': 'Right Center Midfield',
 '11392': 'Left Center Midfield',
 '8206': 'Right Center Midfield',
 '5246': 'Center Forward',
 '25006': 'Right Wing',
 '5674': 'Right Back',
 '13599': 'Left Center Midfield',
 '11532': 'Right Center Back',
 '6998': 'Right Center Midfield',
 '6332': 'Left Center Back',
 '6616': 'Left Wing',
 '8668': 'Center Forward',
 '3109': 'Right Wing',
 '8652': 'Goalkeeper',
 '5542': 'Right Center Midfield',
 '5216': 'Right Center Midfield',
 '6402': 'Left Center Forward',
 '6849': 'Left Back',
 '6400': 'Right Back',
 '5506': 'Center Defensive Midfield',
 '6609': 'Right Center Midfield',
 '3726': 'Left Wing',
 '10802': 'Center Defensive Midfield',
 '6196': 'Right Center Back',
 '4320': 'Left Wing',
 '11094': 'Right Center Midfield',
 '10609': 'Left Center Back',
 '4691': 'Goalkeeper',
 '3362': 'Right Center Back',
 '4324': 'Right Back',
 '7068': 'Right Center Back',
 '22102': 'Left Back',
 '3508': 'Center Forward',
 '20131': 'Left Center Midfield',
 '27318': 'Right Back',
 '3958': 'Right Wing',
 '11302': 'Goalkeeper',
 '6593': 'Right Back',
 '26005': 'Goalkeeper',
 '3385': 'Right Wing',
 '20176': 'Goalkeeper',
 '6658': 'Left Wing',
 '3478': 'Center Attacking Midfield',
 '27053': 'Center Defensive Midfield',
 '20125': 'Left Center Back',
 '5208': 'Left Center Midfield',
 '12737': 'Left Wing',
 '20177': 'Left Back',
 '20169': 'Left Center Midfield',
 '26613': 'Left Back',
 '26776': 'Left Wing',
 '6357': 'Center Defensive Midfield',
 '6890': 'Left Center Back',
 '4891': 'Right Wing',
 '25919': 'Left Center Back',
 '26624': 'Right Wing',
 '4913': 'Center Forward',
 '15516': 'Left Wing',
 '3672': 'Center Forward',
 '3087': 'Center Defensive Midfield',
 '18608': 'Left Center Back',
 '5558': 'Center Defensive Midfield',
 '11270': 'Center Forward',
 '19298': 'Right Wing',
 '25854': 'Left Back',
 '5248': 'Left Center Back',
 '18882': 'Left Wing',
 '25873': 'Right Center Back',
 '15071': 'Right Center Back',
 '19757': 'Right Center Midfield',
 '25879': 'Left Wing',
 '15774': 'Right Back',
 '5987': 'Right Wing',
 '25910': 'Center Defensive Midfield',
 '25949': 'Left Wing',
 '17797': 'Left Back',
 '25878': 'Right Wing',
 '4325': 'Left Center Midfield',
 '25863': 'Right Back',
 '25962': 'Center Forward',
 '19296': 'Right Center Midfield',
 '15743': 'Center Forward',
 '25925': 'Left Center Midfield',
 '6730': 'Goalkeeper',
 '25896': 'Right Back',
 '8193': 'Center Forward'}

In [12]:
for pos in id_pos:
  if id_pos[pos] == 'Goalkeeper':
    id_pos[pos] = True
  elif id_pos[pos] != 'Goalkeeper':
    id_pos[pos] = False
  # id_pos[pos] = (id_pos[pos] is 'Goalkeeper')
id_pos

{'20055': True,
 '32480': False,
 '5213': False,
 '6826': False,
 '5477': False,
 '5211': False,
 '5203': False,
 '39073': False,
 '30486': False,
 '5487': False,
 '5503': False,
 '43728': False,
 '6947': False,
 '24841': False,
 '4447': False,
 '5492': False,
 '21881': False,
 '8118': False,
 '3501': False,
 '6590': True,
 '6379': False,
 '30756': False,
 '17304': False,
 '22390': False,
 '6374': False,
 '5470': False,
 '11392': False,
 '8206': False,
 '5246': False,
 '25006': False,
 '5674': False,
 '13599': False,
 '11532': False,
 '6998': False,
 '6332': False,
 '6616': False,
 '8668': False,
 '3109': False,
 '8652': True,
 '5542': False,
 '5216': False,
 '6402': False,
 '6849': False,
 '6400': False,
 '5506': False,
 '6609': False,
 '3726': False,
 '10802': False,
 '6196': False,
 '4320': False,
 '11094': False,
 '10609': False,
 '4691': True,
 '3362': False,
 '4324': False,
 '7068': False,
 '22102': False,
 '3508': False,
 '20131': False,
 '27318': False,
 '3958': False,
 '11302': True,
 '6593': False,
 '26005': True,
 '3385': False,
 '20176': True,
 '6658': False,
 '3478': False,
 '27053': False,
 '20125': False,
 '5208': False,
 '12737': False,
 '20177': False,
 '20169': False,
 '26613': False,
 '26776': False,
 '6357': False,
 '6890': False,
 '4891': False,
 '25919': False,
 '26624': False,
 '4913': False,
 '15516': False,
 '3672': False,
 '3087': False,
 '18608': False,
 '5558': False,
 '11270': False,
 '19298': False,
 '25854': False,
 '5248': False,
 '18882': False,
 '25873': False,
 '15071': False,
 '19757': False,
 '25879': False,
 '15774': False,
 '5987': False,
 '25910': False,
 '25949': False,
 '17797': False,
 '25878': False,
 '4325': False,
 '25863': False,
 '25962': False,
 '19296': False,
 '15743': False,
 '25925': False,
 '6730': True,
 '25896': False,
 '8193': False}

# Average Locaton df

In [13]:
# function to calculate the average location of a player given player_id and an event dataframe
# from 'Regular Play' only
def avgloc(id,event_df):
  events = event_df.loc[(event_df['player_id'] == id) & (event_df['play_pattern'] == 'Regular Play')].reset_index(drop=True)
  locations = events['location']
  return [sum(x)/len(x) for x in zip(*locations)]

In [14]:
# Run function avgloc on starts

#top_starts = [x[0] for x in starts]
#num_starts = [x[1] for x in starts]
#print(all_starters[0][ids[0]])
dfs = []
complete_passes_dfs ={}
for i in range(len(all_starting_players)):
  top_starts = list(all_starting_players[i].values())[0]
  # print(top_starts)
  num_starts = [i[1] for i in top_starts] 
  # print(num_starts)
  passes_df = la_liga[i][ids[i]]["passes"]

  # get the Barcelona complete passes
  complete_passes_df = passes_df.loc[(passes_df['team'] == 'Barcelona') & passes_df["pass_outcome"].isna()].reset_index(drop=True)
  complete_passes_dfs[ids[i]] = complete_passes_df
  # call avgloc on each player
  avglocs = [avgloc(int(id[0]), complete_passes_df) for id in top_starts]
  season = [ids[i]]*11
  top_starts_id = [str(id[0]) for id in top_starts]
  df = pd.DataFrame(list(zip(season,top_starts_id,num_starts, avglocs)), columns = ['season', 'player_id', 'season_starts', 'average_location'])
  max_start = df['season_starts'].max()
  new_row = pd.DataFrame({'season':ids[i], 'player_id': 1111111111, 'season_starts': max_start, 'average_location': [[120, 40]], 'player_from': 'Shot','row_id':11}, index=[11])
  df['row_id'] = df.reset_index(drop=True).index
  df.append(new_row)
  

  dfs.append(df)
  
# add a new row for shot as 12th player
  dfs.append(new_row)
  
df = pd.concat(dfs)
# print(complete_passes_df.columns)

df

,season,player_id,season_starts,average_location,row_id,player_from
0,La Liga 2020/2021,5211,33,"[64.3328934010153, 13.335837563451763]",0,NaN
1,La Liga 2020/2021,5503,33,"[76.28396674584323, 45.30712589073629]",1,NaN
2,La Liga 2020/2021,8118,32,"[60.19215876089059, 39.63969022265244]",2,NaN
3,La Liga 2020/2021,5203,30,"[60.64644268774705, 41.794762845849824]",3,NaN
4,La Liga 2020/2021,20055,29,"[11.704034582132566, 39.61152737752163]",4,NaN
...,...,...,...,...,...,...
7,La Liga 2004/2005,5558,6,"[54.10434782608695, 40.78623188405797]",7,NaN
8,La Liga 2004/2005,20131,6,"[57.34043715846993, 43.96338797814207]",8,NaN
9,La Liga 2004/2005,19298,6,"[77.50799999999997, 34.16133333333332]",9,NaN
10,La Liga 2004/2005,5216,5,"[64.98205128205126, 40.01794871794873]",10,NaN
11,La Liga 2004/2005,1111111111,7,"[120, 40]",11,Shot

In [127]:
id_names[1111111111] = 'Shot'
# id_names
df['player_from'] = df['player_id'].map(id_names)
df['is_goalie'] = df['player_id'].map(id_pos)
df['is_goalie'] = df['is_goalie'].fillna(0).astype(int)
df_starting = df

,season,player_id,season_starts,average_location,row_id,player_from,is_goalie
0,La Liga 2020/2021,5211,33,"[64.3328934010153, 13.335837563451763]",0,Jordi Alba Ramos,0
1,La Liga 2020/2021,5503,33,"[76.28396674584323, 45.30712589073629]",1,Lionel Andrés Messi Cuccittini,0
2,La Liga 2020/2021,8118,32,"[60.19215876089059, 39.63969022265244]",2,Frenkie de Jong,0
3,La Liga 2020/2021,5203,30,"[60.64644268774705, 41.794762845849824]",3,Sergio Busquets i Burgos,0
4,La Liga 2020/2021,20055,29,"[11.704034582132566, 39.61152737752163]",4,Marc-André ter Stegen,1
...,...,...,...,...,...,...,...
7,La Liga 2004/2005,5558,6,"[54.10434782608695, 40.78623188405797]",7,Rafael Márquez Álvarez,0
8,La Liga 2004/2005,20131,6,"[57.34043715846993, 43.96338797814207]",8,Xavier Hernández Creus,0
9,La Liga 2004/2005,19298,6,"[77.50799999999997, 34.16133333333332]",9,Samuel Eto''o Fils,0
10,La Liga 2004/2005,5216,5,"[64.98205128205126, 40.01794871794873]",10,Andrés Iniesta Luján,0
11,La Liga 2004/2005,1111111111,7,"[120, 40]",11,Shot,0

# To Do

*   Count completed passes from each player to recipient
*   Add shot events to pass events -> edit the average location code

In [ ]:
df_starting.to_csv('df_starting.csv', index=False, encoding='utf-8-sig')

NameError: ignored

In [15]:
# Dictionary and dataframe of passer and recipient pairs
all_season_passes = pd.DataFrame()
for key, value in complete_passes_dfs.items():
  passes = defaultdict(int)
  passers = value['player']
  recipients = value['pass_recipient']
  merged_list = list(zip(passers, recipients))

  for element in merged_list:
    passes[element] += 1

  dfPass = pd.DataFrame([[k[0],k[1],v,key] for k,v in passes.items()]) \
            .rename(columns={0:'Passing',1:'Receiving',2:'Frequency',3:'Season'})
  all_season_passes = all_season_passes.append(dfPass)



print(all_season_passes.head(5))
all_season_passes.tail(5)

                           Passing                        Receiving  \
0   Lionel Andrés Messi Cuccittini         Sergio Busquets i Burgos
1         Sergio Busquets i Burgos         Moriba Kourouma Kourouma
2         Moriba Kourouma Kourouma  Ronald Federico Araújo da Silva
3  Ronald Federico Araújo da Silva            Marc-André ter Stegen
4            Marc-André ter Stegen                  Clément Lenglet

   Frequency             Season
0        256  La Liga 2020/2021
1         47  La Liga 2020/2021
2         26  La Liga 2020/2021
3         85  La Liga 2020/2021
4        168  La Liga 2020/2021

,Passing,Receiving,Frequency,Season
240,Henrik Larsson,Rafael Márquez Álvarez,1,La Liga 2004/2005
241,Henrik Larsson,Samuel Eto''o Fils,2,La Liga 2004/2005
242,Henrik Larsson,Andrés Iniesta Luján,1,La Liga 2004/2005
243,Andrés Iniesta Luján,Henrik Larsson,1,La Liga 2004/2005
244,Henrik Larsson,Lionel Andrés Messi Cuccittini,1,La Liga 2004/2005

In [16]:
# df with all shot events
shots_df = events["shots"]
shots_df.info()
shots_df['shot_outcome'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971 entries, 0 to 970
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     971 non-null    object
 1   index                  971 non-null    int64
 2   period                 971 non-null    int64
 3   timestamp              971 non-null    object
 4   minute                 971 non-null    int64
 5   second                 971 non-null    int64
 6   type                   971 non-null    object
 7   possession             971 non-null    int64
 8   possession_team        971 non-null    object
 9   play_pattern           971 non-null    object
 10  team                   971 non-null    object
 11  player                 971 non-null    object
 12  position               971 non-null    object
 13  location               971 non-null    object
 14  duration               971 non-null    float64
 15  related_events         971 non-null    object
 16  match_id               971 non-null    int64
 17  shot_statsbomb_xg      971 non-null    float64
 18  shot_end_location      971 non-null    object
 19  shot_key_pass_id       700 non-null    object
 20  shot_body_part         971 non-null    object
 21  shot_type              971 non-null    object
 22  shot_outcome           971 non-null    object
 23  shot_technique         971 non-null    object
 24  shot_freeze_frame      965 non-null    object
 25  possession_team_id     971 non-null    int64
 26  team_id                971 non-null    int64
 27  player_id              971 non-null    int64
 28  shot_first_time        323 non-null    object
 29  shot_deflected         15 non-null     object
 30  shot_saved_to_post     3 non-null      object
 31  under_pressure         148 non-null    object
 32  shot_aerial_won        68 non-null     object
 33  out                    25 non-null     object
 34  shot_one_on_one        50 non-null     object
 35  shot_open_goal         16 non-null     object
 36  shot_saved_off_target  2 non-null      object
 37  shot_redirect          1 non-null      object
 38  shot_follows_dribble   1 non-null      object
 39  off_camera             1 non-null      object
dtypes: float64(2), int64(9), object(29)
memory usage: 303.6+ KB

array(['Saved', 'Blocked', 'Goal', 'Off T', 'Saved to Post', 'Wayward',
       'Post', 'Saved Off Target'], dtype=object)

In [ ]:
# Finding average location of all players at shot event

# Copy avgloc function but remove play pattern constraint
def shotavgloc(id,event_df):
  events = event_df.loc[(event_df['player_id'] == id)].reset_index(drop=True)
  locations = events['location']
  return [sum(x)/len(x) for x in zip(*locations)]

# Copy player/location df but with locations reflecting shooting events
avgshotlocs = [shotavgloc(id, shots_df) for id in top_starts]
shooters = pd.DataFrame(list(zip(top_starts,num_starts, avgshotlocs)), columns = ['player_id', 'season_starts', 'average_location'])
shooters['player_from'] = df['player_id'].map(player_dict)
shooters

,player_id,season_starts,average_location,player_from
0,20055,35,[],Marc-André ter Stegen
1,5503,32,"[102.9055555555556, 39.2489898989899]",Lionel Andrés Messi Cuccittini
2,5246,30,"[108.75267857142856, 38.16428571428572]",Luis Alberto Suárez Díaz
3,5470,29,"[100.0, 44.18461538461539]",Ivan Rakitić
4,5213,28,"[110.9388888888889, 41.322222222222216]",Gerard Piqué Bernabéu
5,5211,28,"[107.55333333333334, 29.680000000000003]",Jordi Alba Ramos
6,5203,28,"[110.0, 39.480000000000004]",Sergio Busquets i Burgos
7,5216,24,"[100.3, 31.11428571428571]",Andrés Iniesta Luján
8,6379,23,"[104.875, 41.00000000000001]",Sergi Roberto Carnicer
9,5492,23,"[110.025, 38.699999999999996]",Samuel Yves Umtiti
10,5542,20,"[108.16976744186047, 39.26744186046512]",José Paulo Bezzera Maciel Júnior
11,6374,16,"[106.75, 55.45]",Nélson Cabral Semedo
12,3501,14,"[101.03703703703704, 32.51111111111111]",Philippe Coutinho Correia
13,6332,11,"[113.46666666666665, 44.06666666666667]",Thomas Vermaelen
14,5477,10,"[103.88571428571426, 43.83571428571429]",Ousmane Dembélé
15,6402,8,"[108.73333333333332, 39.7]",Francisco Alcácer García
16,6849,8,"[107.0, 28.4]",Lucas Digne
17,5506,6,[],Javier Alejandro Mascherano
18,10802,6,"[104.47142857142858, 36.08571428571428]",André Filipe Tavares Gomes
19,3726,5,"[108.85000000000001, 36.5]",Gerard Deulofeu Lázaro
20,6400,4,"[107.89999999999999, 48.4875]",Aleix Vidal Parreu
21,6609,4,"[106.49090909090908, 38.82727272727273]",Denis Suárez Fernández
22,6196,3,"[108.93333333333334, 40.76666666666667]",Yerry Fernando Mina González
23,8652,1,[],Jasper Cillessen

In [ ]:
# Shots and goals of each player
players = []
for player in shooters['player_from']:
  df = shots_df.loc[shots_df['player'] == player]
  shots = df.shape[0]
  goals = df.loc[df['shot_outcome'] == 'Goal'].shape[0]
  players.append((player,shots,goals))
shots = pd.DataFrame(list(players),
               columns =['Player', 'Shots',"Goals"])
shots

                              Player  Shots  Goals
0              Marc-André ter Stegen      0      0
1     Lionel Andrés Messi Cuccittini    198     34
2           Luis Alberto Suárez Díaz    112     23
3                       Ivan Rakitić     26      1
4              Gerard Piqué Bernabéu     18      2
5                   Jordi Alba Ramos     15      2
6           Sergio Busquets i Burgos      5      1
7               Andrés Iniesta Luján     14      1
8             Sergi Roberto Carnicer      8      1
9                 Samuel Yves Umtiti      8      1
10  José Paulo Bezzera Maciel Júnior     43      9
11              Nélson Cabral Semedo      2      0
12         Philippe Coutinho Correia     27      4
13                  Thomas Vermaelen      3      0
14                   Ousmane Dembélé     14      3
15          Francisco Alcácer García     15      4
16                       Lucas Digne      2      0
17       Javier Alejandro Mascherano      0      0
18        André Filipe Tavares Gomes      7      0
19            Gerard Deulofeu Lázaro      8      1
20                Aleix Vidal Parreu      8      1
21            Denis Suárez Fernández     11      2
22      Yerry Fernando Mina González      3      0
23                  Jasper Cillessen      0      0

In [ ]:
# manipulate shots dataframe to stack with pass dataframe
shots_man = shots.copy()
shots_man['Passing'] = shots_man['Player']
shots_man['Receiving'] = 'Shot'
shots_man['Frequency'] = shots_man['Shots'] * 1.5
shots_man = shots_man[['Passing', 'Receiving', 'Frequency']]
shots_man

                             Passing Receiving  Frequency
0              Marc-André ter Stegen      Shot        0.0
1     Lionel Andrés Messi Cuccittini      Shot      297.0
2           Luis Alberto Suárez Díaz      Shot      168.0
3                       Ivan Rakitić      Shot       39.0
4              Gerard Piqué Bernabéu      Shot       27.0
5                   Jordi Alba Ramos      Shot       22.5
6           Sergio Busquets i Burgos      Shot        7.5
7               Andrés Iniesta Luján      Shot       21.0
8             Sergi Roberto Carnicer      Shot       12.0
9                 Samuel Yves Umtiti      Shot       12.0
10  José Paulo Bezzera Maciel Júnior      Shot       64.5
11              Nélson Cabral Semedo      Shot        3.0
12         Philippe Coutinho Correia      Shot       40.5
13                  Thomas Vermaelen      Shot        4.5
14                   Ousmane Dembélé      Shot       21.0
15          Francisco Alcácer García      Shot       22.5
16                       Lucas Digne      Shot        3.0
17       Javier Alejandro Mascherano      Shot        0.0
18        André Filipe Tavares Gomes      Shot       10.5
19            Gerard Deulofeu Lázaro      Shot       12.0
20                Aleix Vidal Parreu      Shot       12.0
21            Denis Suárez Fernández      Shot       16.5
22      Yerry Fernando Mina González      Shot        4.5
23                  Jasper Cillessen      Shot        0.0

In [ ]:
# stacking pass and shot dataframes together

df_pass_shot = pd.concat([dfPass, shots_man])
df_pass_shot

                         Passing              Receiving  Frequency
0          Gerard Piqué Bernabéu     Samuel Yves Umtiti      191.0
1             Samuel Yves Umtiti  Marc-André ter Stegen      157.0
2          Marc-André ter Stegen     Samuel Yves Umtiti      146.0
3             Samuel Yves Umtiti       Jordi Alba Ramos      263.0
4             Samuel Yves Umtiti   Andrés Iniesta Luján      145.0
..                           ...                    ...        ...
19        Gerard Deulofeu Lázaro                   Shot       12.0
20            Aleix Vidal Parreu                   Shot       12.0
21        Denis Suárez Fernández                   Shot       16.5
22  Yerry Fernando Mina González                   Shot        4.5
23              Jasper Cillessen                   Shot        0.0

[515 rows x 3 columns]

In [ ]:
# pass interactions between starting 11
mask1 = df_pass_shot['Passing'].isin(df_starting['player_from'])
df_starting_pass = df_pass_shot.loc[mask1]

mask2 = df_starting_pass['Receiving'].isin(df_starting['player_from'])
df_starting_pass = df_starting_pass.loc[mask2]

df_starting_pass

                             Passing              Receiving  Frequency
0              Gerard Piqué Bernabéu     Samuel Yves Umtiti      191.0
1                 Samuel Yves Umtiti  Marc-André ter Stegen      157.0
2              Marc-André ter Stegen     Samuel Yves Umtiti      146.0
3                 Samuel Yves Umtiti       Jordi Alba Ramos      263.0
4                 Samuel Yves Umtiti   Andrés Iniesta Luján      145.0
..                               ...                    ...        ...
6           Sergio Busquets i Burgos                   Shot        7.5
7               Andrés Iniesta Luján                   Shot       21.0
8             Sergi Roberto Carnicer                   Shot       12.0
9                 Samuel Yves Umtiti                   Shot       12.0
10  José Paulo Bezzera Maciel Júnior                   Shot       64.5

[120 rows x 3 columns]

In [ ]:
# calculating passing probabilities
df_starting_pass['Passing_Sum_Frequency'] = df_starting_pass.groupby('Passing')['Frequency'].transform('sum')
df_starting_pass['Pass Probability'] = df_starting_pass['Frequency'] / df_starting_pass['Passing_Sum_Frequency']
df_starting_pass

,Passing,Receiving,Frequency,Passing_Sum_Frequency,Pass Probability
0,Gerard Piqué Bernabéu,Samuel Yves Umtiti,191.0,1242.0,0.153784
1,Samuel Yves Umtiti,Marc-André ter Stegen,157.0,1187.0,0.132266
2,Marc-André ter Stegen,Samuel Yves Umtiti,146.0,766.0,0.190601
3,Samuel Yves Umtiti,Jordi Alba Ramos,263.0,1187.0,0.221567
4,Samuel Yves Umtiti,Andrés Iniesta Luján,145.0,1187.0,0.122157
...,...,...,...,...,...
6,Sergio Busquets i Burgos,Shot,7.5,1458.5,0.005142
7,Andrés Iniesta Luján,Shot,21.0,1032.0,0.020349
8,Sergi Roberto Carnicer,Shot,12.0,1128.0,0.010638
9,Samuel Yves Umtiti,Shot,12.0,1187.0,0.010110
10,José Paulo Bezzera Maciel Júnior,Shot,64.5,853.5,0.075571

In [ ]:
# calling player id and location for each passing and receiving player:

df_starting_pass = pd.merge(df_starting_pass, df_starting, left_on='Passing', right_on='player_from', how='left')
df_starting_pass = pd.merge(df_starting_pass, df_starting, left_on='Receiving', right_on='player_from', how='left')
df_starting_pass = df_starting_pass.drop(['player_from_x', 'player_from_y'], axis=1)
df_starting_pass = df_starting_pass.loc[:, ~df_starting_pass.columns.duplicated()]
df_starting_pass

,Passing,Receiving,Frequency,Passing_Sum_Frequency,Pass Probability,player_id_x,season_starts_x,average_location_x,row_id_x,player_id_y,season_starts_y,average_location_y,row_id_y
0,Gerard Piqué Bernabéu,Samuel Yves Umtiti,191.0,1242.0,0.153784,5213,28,"[40.62254601226996, 53.52331288343562]",4,5492,23,"[41.16050724637682, 25.78876811594206]",9
1,Samuel Yves Umtiti,Marc-André ter Stegen,157.0,1187.0,0.132266,5492,23,"[41.16050724637682, 25.78876811594206]",9,20055,35,"[11.75150684931507, 40.30493150684933]",0
2,Marc-André ter Stegen,Samuel Yves Umtiti,146.0,766.0,0.190601,20055,35,"[11.75150684931507, 40.30493150684933]",0,5492,23,"[41.16050724637682, 25.78876811594206]",9
3,Samuel Yves Umtiti,Jordi Alba Ramos,263.0,1187.0,0.221567,5492,23,"[41.16050724637682, 25.78876811594206]",9,5211,28,"[58.5618181818182, 13.467972027972031]",5
4,Samuel Yves Umtiti,Andrés Iniesta Luján,145.0,1187.0,0.122157,5492,23,"[41.16050724637682, 25.78876811594206]",9,5216,24,"[65.958273381295, 24.63075539568345]",7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Sergio Busquets i Burgos,Shot,7.5,1458.5,0.005142,5203,28,"[56.009207161125325, 37.920204603580565]",6,1111111111,35,"[120, 40]",11
116,Andrés Iniesta Luján,Shot,21.0,1032.0,0.020349,5216,24,"[65.958273381295, 24.63075539568345]",7,1111111111,35,"[120, 40]",11
117,Sergi Roberto Carnicer,Shot,12.0,1128.0,0.010638,6379,23,"[61.67888888888892, 61.55380952380949]",8,1111111111,35,"[120, 40]",11
118,Samuel Yves Umtiti,Shot,12.0,1187.0,0.010110,5492,23,"[41.16050724637682, 25.78876811594206]",9,1111111111,35,"[120, 40]",11
119,José Paulo Bezzera Maciel Júnior,Shot,64.5,853.5,0.075571,5542,20,"[62.800612244898, 44.58265306122451]",10,1111111111,35,"[120, 40]",11

In [ ]:
df_starting_pass.to_csv('df_starting_pass.csv', index=False, encoding='utf-8-sig')

In [ ]:
# creating state transition matrix

pivot_table = df_starting_pass.pivot(index='row_id_x', columns='row_id_y', values='Pass Probability')
state_tr_matrix = pivot_table.to_numpy()
state_tr_matrix = np.nan_to_num(state_tr_matrix, nan=0)

# extra row for row id 11
new_row = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1])
new_arr = np.zeros((state_tr_matrix.shape[0] + 1, state_tr_matrix.shape[1]))

new_arr[:-1,:] = state_tr_matrix
new_arr[-1,:] = new_row

P = new_arr

In [ ]:
# function for setting priorities in case of player passing to himself, or same passing sequence repeats over and over

def requirements(lst, val):
    if val in lst:
        return False
    else:
        return True

In [ ]:
# Markov application

# finding steady state matrix by power iteration
Pm = P ** 50

# normalizing the rows

np.fill_diagonal(Pm, 0.0)
last_row = Pm.shape[0] - 1
last_col = Pm.shape[1] - 1

Pm[last_row, :] = 0.0
Pm[last_row, last_col] = 1.0

row_sums = Pm.sum(axis=1)
Pm = Pm / row_sums[:, np.newaxis]

# initiating the sequence from goalkeeper

n = Pm.shape[0] # number of nodes
pi = np.zeros(n)
pi[0] = 1 # set the probability of first node (goalkeeper) to 1

current_node = 0 # we need to add some sort of identifier for the goalkeeper in the dataframe "df_starting" in order to initiate the sequence
route = [current_node]


cnt = 0

while current_node != 11 and cnt < 1580: # continue until reaching node 12
    cnt += 1
    
    pi = np.dot(pi, Pm)
    pi_sorted = np.sort(pi)[::-1]

    for i in range(len(pi_sorted)):
        
        ind = np.where(pi == pi_sorted[i])[0][0]
        next_node = ind

        if len(route) > 1:
        
            if requirements(route, ind):
                next_node = ind
                break
            
        else:
            break      

    route.append(next_node)
    current_node = next_node
    
    n = Pm.shape[0]
    pi = np.zeros(n)
    pi[current_node] = 1
    
    
print(route)

[0, 4, 8, 3, 1, 11]

In [ ]:
ratio_dict = {}

col_totals = np.sum(Pm, axis=0)
col_totals

for i in range(len(col_totals)):
    ratio_dict[i] = col_totals[i]

ratio_dict

{0: 0.001383607886016711,
 1: 3.0400433573925887,
 2: 8.936685483754802e-11,
 3: 1.1202410096529656,
 4: 0.999999480109635,
 5: 1.99999999547946,
 6: 1.4967359908971245e-05,
 7: 0.9999999986623499,
 8: 0.8827786527939315,
 9: 0.01545705075307293,
 10: 5.0157538057932954e-17,
 11: 2.9400818798207036}

In [ ]:
np.sum(Pm, axis=0)

array([1.38360789e-03, 3.04004336e+00, 8.93668548e-11, 1.12024101e+00,
       9.99999480e-01, 2.00000000e+00, 1.49673599e-05, 9.99999999e-01,
       8.82778653e-01, 1.54570508e-02, 5.01575381e-17, 2.94008188e+00])

In [ ]:
nodes_route = set(route)

occurances = {}
for elem in route:
    occurances[elem] = ratio_dict[elem]

route_adj = [route[0], route[1]]

occurances_copy = occurances.copy()
  
del occurances_copy[route[0]]
del occurances_copy[route[1]]
del occurances_copy[route[-1]]
del occurances_copy[route[-2]]

if len(nodes_route) > 7:
  
    sorted_dict = sorted(occurances_copy.items(), key=lambda x: x[1], reverse=True)
    # Get the keys of the 3 highest values
    top_keys = [k for k, v in sorted_dict[:3]]
    # Loop through the route list and insert the top keys by their first appearance
  
    while len(route_adj) < 5:
  
        for i in range(2, len(route)-2):
            if route[i] in top_keys:
                route_adj.append(route[i])
                top_keys.remove(route[i])
            

    route_adj.append(route[-2])
    route_adj.append(route[-1])
    
else:
    for i in range(2, len(route)-2):
        if route[i] in occurances_copy: 
            route_adj.append(route[i])

    route_adj.append(route[-2])
    route_adj.append(route[-1])

    


print("Most probable route:", route_adj)

Most probable route: [0, 4, 8, 3, 1, 11]

In [ ]:
df_starting

,player_id,season_starts,average_location,player_from,row_id
0,20055,35,"[11.75150684931507, 40.30493150684933]",Marc-André ter Stegen,0
1,5503,32,"[75.0770290964777, 45.517151607963264]",Lionel Andrés Messi Cuccittini,1
2,5246,30,"[81.11993670886076, 32.33829113924053]",Luis Alberto Suárez Díaz,2
3,5470,29,"[58.1833333333333, 46.89243421052626]",Ivan Rakitić,3
4,5213,28,"[40.62254601226996, 53.52331288343562]",Gerard Piqué Bernabéu,4
5,5211,28,"[58.5618181818182, 13.467972027972031]",Jordi Alba Ramos,5
6,5203,28,"[56.009207161125325, 37.920204603580565]",Sergio Busquets i Burgos,6
7,5216,24,"[65.958273381295, 24.63075539568345]",Andrés Iniesta Luján,7
8,6379,23,"[61.67888888888892, 61.55380952380949]",Sergi Roberto Carnicer,8
9,5492,23,"[41.16050724637682, 25.78876811594206]",Samuel Yves Umtiti,9
10,5542,20,"[62.800612244898, 44.58265306122451]",José Paulo Bezzera Maciel Júnior,10
11,1111111111,35,"[120, 40]",Shot,11

In [ ]:
# creating route dataframe

selected_rows = []

for i in route_adj:
    selected_row = df_starting.loc[df_starting['row_id'] == i]
    selected_rows.append(selected_row)

route_df = pd.concat(selected_rows)
route_df['node_radius_ratio'] = route_df['row_id'].map(ratio_dict)

min_value = route_df['node_radius_ratio'].min()
max_value = route_df['node_radius_ratio'].max()

# normalize the column values between 1 and 2
route_df['node_radius_ratio'] = 1 + (route_df['node_radius_ratio'] - min_value) / (max_value - min_value)
route_df.loc[route_df['row_id'] == 11, 'node_radius_ratio'] = 1

#print(route_df)

shifted_df = route_df.shift(-1)

# concatenate the original DataFrame and the shifted DataFrame horizontally
concatenated_df = pd.concat([route_df, shifted_df], axis=1)

# rename the new columns
concatenated_df.columns = ['player_id', 'season_starts', 'average_location', 'player_from', 'row_id', 'node_radius_ratio',
                           'player_id_2', 'season_starts_2', 'average_location_2', 'player_from_2', 'row_id_2', 'node_radius_ratio_2']

# fill the NaN values in the last row with the first row values
concatenated_df.iloc[-1, -6:] = concatenated_df.iloc[-1, :6].values

concatenated_df

,player_id,season_starts,average_location,player_from,row_id,node_radius_ratio,player_id_2,season_starts_2,average_location_2,player_from_2,row_id_2,node_radius_ratio_2
0,20055,35,"[11.75150684931507, 40.30493150684933]",Marc-André ter Stegen,0,1.000000,5.213000e+03,28.0,"[40.62254601226996, 53.52331288343562]",Gerard Piqué Bernabéu,4.0,1.328637
4,5213,28,"[40.62254601226996, 53.52331288343562]",Gerard Piqué Bernabéu,4,1.328637,6.379000e+03,23.0,"[61.67888888888892, 61.55380952380949]",Sergi Roberto Carnicer,8.0,1.290060
8,6379,23,"[61.67888888888892, 61.55380952380949]",Sergi Roberto Carnicer,8,1.290060,5.470000e+03,29.0,"[58.1833333333333, 46.89243421052626]",Ivan Rakitić,3.0,1.368208
3,5470,29,"[58.1833333333333, 46.89243421052626]",Ivan Rakitić,3,1.368208,5.503000e+03,32.0,"[75.0770290964777, 45.517151607963264]",Lionel Andrés Messi Cuccittini,1.0,2.000000
1,5503,32,"[75.0770290964777, 45.517151607963264]",Lionel Andrés Messi Cuccittini,1,2.000000,1.111111e+09,35.0,"[120, 40]",Shot,11.0,1.000000
11,1111111111,35,"[120, 40]",Shot,11,1.000000,1.111111e+09,35.0,"[120, 40]",Shot,11.0,1.000000

In [ ]:
# creating csv files

def writenodes(df):
    ndf = df.copy()
    ndf['x_pos_abs'] = ndf['average_location'].apply(lambda x: x[0])
    ndf['y_pos_abs'] = ndf['average_location'].apply(lambda x: x[1])
    ndf['x_pos_perc'] = ndf['x_pos_abs'] / 120
    ndf['y_pos_perc'] = ndf['y_pos_abs'] / 80
    ndf['name'] = ndf['player_from']

    return ndf.to_csv('player_nodes.csv', index=False, encoding='utf-8-sig')


def writelinks(df):
    ndf = df.copy()
    
    freq_max = ndf['Frequency'].max()
    freq_min = ndf['Frequency'].min()

    ndf['pass_completed'] = ((ndf['Frequency'] - freq_min) / (freq_max - freq_min)) * 4
    ndf['source'] = ndf['Passing']
    ndf['target'] = ndf['Receiving']
    ndf['source_x'] = ndf['average_location_x'].apply(lambda x: x[0]/120)
    ndf['source_y'] = ndf['average_location_x'].apply(lambda x: x[1]/80)
    ndf['target_x'] = ndf['average_location_y'].apply(lambda x: x[0]/120)
    ndf['target_y'] = ndf['average_location_y'].apply(lambda x: x[1]/80)


    return ndf.to_csv('player_links.csv', index=False, encoding='utf-8-sig')

def writeroute(df):
    ndf = df.copy()
    ndf['source'] = ndf['player_from']
    ndf['name'] = ndf['player_from']
    ndf['target'] = ndf['player_from_2']
    ndf['source_x'] = ndf['average_location'].apply(lambda x: x[0]/120)
    ndf['source_y'] = ndf['average_location'].apply(lambda x: x[1]/80)
    ndf['target_x'] = ndf['average_location_2'].apply(lambda x: x[0]/120)
    ndf['target_y'] = ndf['average_location_2'].apply(lambda x: x[1]/80)

    return ndf.to_csv('player_route.csv', index=False, encoding='utf-8-sig')


writenodes(df_starting)
writelinks(df_starting_pass)
writeroute(concatenated_df)

# Random Code/Test Area

In [ ]:
events.keys()

dict_keys(['starting_xis', 'half_starts', 'passes', 'ball_receipts', 'carrys', 'pressures', 'interceptions', 'dispossesseds', 'duels', 'miscontrols', 'ball_recoverys', 'dribbled_pasts', 'dribbles', 'clearances', 'shots', 'goal_keepers', 'blocks', 'foul_committeds', 'foul_wons', 'shields', 'half_ends', 'substitutions', 'injury_stoppages', 'referee_ball_drops', 'tactical_shifts', 'own_goal_againsts', 'own_goal_fors', 'bad_behaviours', '50/50s', 'offsides', 'errors', 'player_offs', 'player_ons', 'Starting XI'])

In [ ]:
# df with all shot events
shots_df = events["shots"]
shots_df.info()
shots_df['shot_outcome'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     839 non-null    object
 1   index                  839 non-null    int64
 2   period                 839 non-null    int64
 3   timestamp              839 non-null    object
 4   minute                 839 non-null    int64
 5   second                 839 non-null    int64
 6   type                   839 non-null    object
 7   possession             839 non-null    int64
 8   possession_team        839 non-null    object
 9   play_pattern           839 non-null    object
 10  team                   839 non-null    object
 11  player                 839 non-null    object
 12  position               839 non-null    object
 13  location               839 non-null    object
 14  duration               839 non-null    float64
 15  related_events         839 non-null    object
 16  match_id               839 non-null    int64
 17  shot_statsbomb_xg      839 non-null    float64
 18  shot_end_location      839 non-null    object
 19  shot_key_pass_id       623 non-null    object
 20  shot_body_part         839 non-null    object
 21  shot_type              839 non-null    object
 22  shot_outcome           839 non-null    object
 23  shot_technique         839 non-null    object
 24  shot_freeze_frame      829 non-null    object
 25  possession_team_id     839 non-null    int64
 26  team_id                839 non-null    int64
 27  player_id              839 non-null    int64
 28  shot_one_on_one        59 non-null     object
 29  shot_first_time        264 non-null    object
 30  under_pressure         152 non-null    object
 31  shot_aerial_won        54 non-null     object
 32  shot_deflected         10 non-null     object
 33  out                    5 non-null      object
 34  off_camera             1 non-null      object
 35  shot_open_goal         15 non-null     object
 36  shot_saved_off_target  4 non-null      object
 37  shot_saved_to_post     3 non-null      object
 38  shot_redirect          1 non-null      object
 39  shot_follows_dribble   1 non-null      object
dtypes: float64(2), int64(9), object(29)
memory usage: 262.3+ KB

array(['Off T', 'Blocked', 'Saved', 'Goal', 'Wayward', 'Post',
       'Saved Off Target', 'Saved to Post'], dtype=object)

In [ ]:
# Finding average location of all players at shot event

# Copy avgloc function but remove play pattern constraint
def shotavgloc(id,event_df):
  events = event_df.loc[(event_df['player_id'] == id)].reset_index(drop=True)
  locations = events['location']
  return [sum(x)/len(x) for x in zip(*locations)]

# Copy player/location df but with locations reflecting shooting events
avgshotlocs = [shotavgloc(id, shots_df) for id in top_starts]
shooters = pd.DataFrame(list(zip(top_starts,num_starts, avgshotlocs)), columns = ['player_id', 'season_starts', 'average_location'])
shooters['player_from'] = df['player_id'].map(player_dict)
shooters

,player_id,season_starts,average_location,player_from
0,5211,33,"[102.52499999999999, 31.162500000000005]",Jordi Alba Ramos
1,5503,33,"[102.77948717948712, 39.63897435897437]",Lionel Andrés Messi Cuccittini
2,8118,32,"[109.72000000000001, 42.81333333333334]",Frenkie de Jong
3,5203,30,"[106.55, 40.2]",Sergio Busquets i Burgos
4,20055,29,"[102.0, 41.1]",Marc-André ter Stegen
5,5487,29,"[107.52031249999997, 37.734375000000014]",Antoine Griezmann
6,6826,28,"[107.63, 37.03]",Clément Lenglet
7,30486,26,"[105.62727272727271, 37.849999999999994]",Pedro González López
8,21881,21,"[106.75714285714288, 48.82142857142856]",Sergino Dest
9,43728,20,"[108.23333333333333, 40.98888888888889]",Óscar Mingueza García
10,5213,18,"[110.7, 40.1]",Gerard Piqué Bernabéu
11,5477,17,"[105.01914893617018, 44.17446808510639]",Ousmane Dembélé
12,32480,13,"[109.56999999999998, 43.34]",Ronald Federico Araújo da Silva
13,4447,9,"[109.89090909090909, 39.9]",Martin Braithwaite Christensen
14,6379,9,"[103.13999999999999, 46.040000000000006]",Sergi Roberto Carnicer
15,3501,8,"[103.98148148148148, 32.17037037037038]",Philippe Coutinho Correia
16,6590,6,[],Norberto Murara Neto
17,30756,6,"[106.35714285714286, 33.47142857142857]",Anssumane Fati
18,6947,5,"[98.98571428571427, 36.42857142857143]",Miralem Pjanić
19,5492,5,"[111.35, 38.0]",Samuel Yves Umtiti
20,39073,3,"[106.95384615384614, 37.46923076923077]",Moriba Kourouma Kourouma
21,24841,2,"[99.2, 36.06666666666666]",Ricard Puig Martí
22,22390,2,"[104.15500000000002, 48.42999999999999]",Francisco António Machado Mota de Castro Trincão
23,17304,1,"[116.7, 36.5]",Héctor Junior Firpo Adames

In [ ]:
# Example with all of Messi's passes
messi_passes = passes_df.loc[passes_df['player_id'] == 5503].reset_index(drop=True)
# messi_passes

In [ ]:
# Example with all of Messi's shots
messi_shots = shots_df.loc[shots_df['player_id'] == 5503].reset_index(drop=True)
messi_shots

In [ ]:
# Dictionary and dataframe of passer and recipient pairs
passes = defaultdict(int)
passers = complete_passes_df['player']
recipients = complete_passes_df['pass_recipient']
merged_list = list(zip(passers, recipients))

for element in merged_list:
  passes[element] += 1

dfPass = pd.DataFrame([[k[0],k[1],v] for k,v in passes.items()]) \
           .rename(columns={0:'Passing',1:'Receiving',2:'Frequency'})


print(passes)
print(dfPass.shape)
dfPass.head(5)

defaultdict(<class 'int'>, {('Lionel Andrés Messi Cuccittini', 'Sergio Busquets i Burgos'): 256, ('Sergio Busquets i Burgos', 'Moriba Kourouma Kourouma'): 47, ('Moriba Kourouma Kourouma', 'Ronald Federico Araújo da Silva'): 26, ('Ronald Federico Araújo da Silva', 'Marc-André ter Stegen'): 85, ('Marc-André ter Stegen', 'Clément Lenglet'): 168, ('Clément Lenglet', 'Pedro González López'): 126, ('Pedro González López', 'Marc-André ter Stegen'): 23, ('Marc-André ter Stegen', 'Ronald Federico Araújo da Silva'): 61, ('Ronald Federico Araújo da Silva', 'Sergio Busquets i Burgos'): 59, ('Sergio Busquets i Burgos', 'Ousmane Dembélé'): 55, ('Ronald Federico Araújo da Silva', 'Clément Lenglet'): 124, ('Clément Lenglet', 'Jordi Alba Ramos'): 535, ('Jordi Alba Ramos', 'Gerard Piqué Bernabéu'): 51, ('Gerard Piqué Bernabéu', 'Moriba Kourouma Kourouma'): 13, ('Ronald Federico Araújo da Silva', 'Gerard Piqué Bernabéu'): 66, ('Gerard Piqué Bernabéu', 'Ronald Federico Araújo da Silva'): 54, ('Marc-André ter Stegen', 'Gerard Piqué Bernabéu'): 59, ('Gerard Piqué Bernabéu', 'Marc-André ter Stegen'): 46, ('Marc-André ter Stegen', 'Sergio Busquets i Burgos'): 62, ('Sergio Busquets i Burgos', 'Gerard Piqué Bernabéu'): 105, ('Gerard Piqué Bernabéu', 'Sergio Busquets i Burgos'): 84, ('Jordi Alba Ramos', 'Clément Lenglet'): 327, ('Clément Lenglet', 'Gerard Piqué Bernabéu'): 186, ('Gerard Piqué Bernabéu', 'Ousmane Dembélé'): 30, ('Ousmane Dembélé', 'Moriba Kourouma Kourouma'): 24, ('Clément Lenglet', 'Marc-André ter Stegen'): 138, ('Gerard Piqué Bernabéu', 'Jordi Alba Ramos'): 52, ('Jordi Alba Ramos', 'Antoine Griezmann'): 217, ('Antoine Griezmann', 'Jordi Alba Ramos'): 202, ('Jordi Alba Ramos', 'Sergio Busquets i Burgos'): 243, ('Sergio Busquets i Burgos', 'Lionel Andrés Messi Cuccittini'): 501, ('Lionel Andrés Messi Cuccittini', 'Jordi Alba Ramos'): 213, ('Pedro González López', 'Jordi Alba Ramos'): 274, ('Moriba Kourouma Kourouma', 'Gerard Piqué Bernabéu'): 7, ('Clément Lenglet', 'Sergio Busquets i Burgos'): 227, ('Gerard Piqué Bernabéu', 'Lionel Andrés Messi Cuccittini'): 52, ('Moriba Kourouma Kourouma', 'Lionel Andrés Messi Cuccittini'): 30, ('Lionel Andrés Messi Cuccittini', 'Gerard Piqué Bernabéu'): 35, ('Gerard Piqué Bernabéu', 'Clément Lenglet'): 290, ('Ronald Federico Araújo da Silva', 'Lionel Andrés Messi Cuccittini'): 40, ('Lionel Andrés Messi Cuccittini', 'Ronald Federico Araújo da Silva'): 34, ('Sergio Busquets i Burgos', 'Antoine Griezmann'): 110, ('Antoine Griezmann', 'Lionel Andrés Messi Cuccittini'): 170, ('Lionel Andrés Messi Cuccittini', 'Pedro González López'): 219, ('Lionel Andrés Messi Cuccittini', 'Ousmane Dembélé'): 128, ('Ousmane Dembélé', 'Pedro González López'): 75, ('Ronald Federico Araújo da Silva', 'Ousmane Dembélé'): 20, ('Ousmane Dembélé', 'Sergio Busquets i Burgos'): 65, ('Antoine Griezmann', 'Moriba Kourouma Kourouma'): 10, ('Moriba Kourouma Kourouma', 'Jordi Alba Ramos'): 54, ('Jordi Alba Ramos', 'Pedro González López'): 290, ('Ronald Federico Araújo da Silva', 'Moriba Kourouma Kourouma'): 16, ('Lionel Andrés Messi Cuccittini', 'Clément Lenglet'): 68, ('Sergio Busquets i Burgos', 'Ronald Federico Araújo da Silva'): 74, ('Ousmane Dembélé', 'Lionel Andrés Messi Cuccittini'): 159, ('Sergio Busquets i Burgos', 'Jordi Alba Ramos'): 158, ('Jordi Alba Ramos', 'Lionel Andrés Messi Cuccittini'): 253, ('Lionel Andrés Messi Cuccittini', 'Antoine Griezmann'): 165, ('Ousmane Dembélé', 'Jordi Alba Ramos'): 85, ('Jordi Alba Ramos', 'Ousmane Dembélé'): 133, ('Moriba Kourouma Kourouma', 'Antoine Griezmann'): 17, ('Pedro González López', 'Gerard Piqué Bernabéu'): 42, ('Sergio Busquets i Burgos', 'Clément Lenglet'): 235, ('Moriba Kourouma Kourouma', 'Ousmane Dembélé'): 16, ('Pedro González López', 'Antoine Griezmann'): 84, ('Ousmane Dembélé', 'Ronald Federico Araújo da Silva'): 18, ('Lionel Andrés Messi Cuccittini', 'Moriba Kourouma Kourouma'): 43, ('Ronald Federico Araújo da Silva', 'Antoine Griezmann'): 11, ('Ousmane Dembélé', 'Antoine Griezmann'): 44, ('Pedro González López', 'Lionel Andrés Messi Cuccittini'): 237, ('Antoine Griezmann', 'Gerard Piqué Bernabéu'): 11, ('Marc-André ter Stegen', 'Pedro González López'): 28, ('Marc-André ter Stegen', 'Lionel Andrés Messi Cuccittini'): 21, ('Sergio Busquets i Burgos', 'Pedro González López'): 140, ('Pedro González López', 'Clément Lenglet'): 108, ('Jordi Alba Ramos', 'Moriba Kourouma Kourouma'): 43, ('Moriba Kourouma Kourouma', 'Pedro González López'): 7, ('Antoine Griezmann', 'Ronald Federico Araújo da Silva'): 9, ('Ronald Federico Araújo da Silva', 'Pedro González López'): 16, ('Antoine Griezmann', 'Clément Lenglet'): 57, ('Moriba Kourouma Kourouma', 'Sergio Busquets i Burgos'): 34, ('Ousmane Dembélé', 'Clément Lenglet'): 19, ('Antoine Griezmann', 'Pedro González López'): 106, ('Moriba Kourouma Kourouma', 'Clément Lenglet'): 24, ('Antoine Griezmann', 'Sergio Busquets i Burgos'): 100, ('Antoine Griezmann', 'Ousmane Dembélé'): 51, ('Clément Lenglet', 'Ronald Federico Araújo da Silva'): 71, ('Pedro González López', 'Moriba Kourouma Kourouma'): 6, ('Gerard Piqué Bernabéu', 'Pedro González López'): 28, ('Pedro González López', 'Ousmane Dembélé'): 71, ('Jordi Alba Ramos', 'Marc-André ter Stegen'): 53, ('Ronald Federico Araújo da Silva', 'Jordi Alba Ramos'): 20, ('Jordi Alba Ramos', 'Ronald Federico Araújo da Silva'): 23, ('Jordi Alba Ramos', 'Ricard Puig Martí'): 33, ('Ricard Puig Martí', 'Jordi Alba Ramos'): 26, ('Clément Lenglet', 'Ricard Puig Martí'): 56, ('Sergio Busquets i Burgos', 'Ricard Puig Martí'): 42, ('Ricard Puig Martí', 'Gerard Piqué Bernabéu'): 9, ('Gerard Piqué Bernabéu', 'Ricard Puig Martí'): 2, ('Moriba Kourouma Kourouma', 'Marc-André ter Stegen'): 1, ('Marc-André ter Stegen', 'Moriba Kourouma Kourouma'): 12, ('Ricard Puig Martí', 'Sergio Busquets i Burgos'): 41, ('Ricard Puig Martí', 'Ousmane Dembélé'): 9, ('Moriba Kourouma Kourouma', 'Ricard Puig Martí'): 10, ('Ricard Puig Martí', 'Moriba Kourouma Kourouma'): 10, ('Clément Lenglet', 'Antoine Griezmann'): 62, ('Ousmane Dembélé', 'Ricard Puig Martí'): 8, ('Ricard Puig Martí', 'Lionel Andrés Messi Cuccittini'): 30, ('Lionel Andrés Messi Cuccittini', 'Ricard Puig Martí'): 28, ('Ronald Federico Araújo da Silva', 'Sergino Dest'): 60, ('Sergino Dest', 'Moriba Kourouma Kourouma'): 8, ('Ronald Federico Araújo da Silva', 'Ricard Puig Martí'): 2, ('Ousmane Dembélé', 'Sergino Dest'): 76, ('Sergino Dest', 'Ousmane Dembélé'): 117, ('Marc-André ter Stegen', 'Jordi Alba Ramos'): 82, ('Ricard Puig Martí', 'Sergino Dest'): 2, ('Clément Lenglet', 'Moriba Kourouma Kourouma'): 18, ('Ricard Puig Martí', 'Ronald Federico Araújo da Silva'): 4, ('Clément Lenglet', 'Sergino Dest'): 30, ('Sergino Dest', 'Sergio Busquets i Burgos'): 113, ('Lionel Andrés Messi Cuccittini', 'Francisco António Machado Mota de Castro Trincão'): 58, ('Francisco António Machado Mota de Castro Trincão', 'Lionel Andrés Messi Cuccittini'): 43, ('Lionel Andrés Messi Cuccittini', 'Sergino Dest'): 124, ('Sergino Dest', 'Lionel Andrés Messi Cuccittini'): 153, ('Jordi Alba Ramos', 'Martin Braithwaite Christensen'): 63, ('Martin Braithwaite Christensen', 'Jordi Alba Ramos'): 40, ('Sergio Busquets i Burgos', 'Francisco António Machado Mota de Castro Trincão'): 24, ('Francisco António Machado Mota de Castro Trincão', 'Moriba Kourouma Kourouma'): 10, ('Sergino Dest', 'Ronald Federico Araújo da Silva'): 55, ('Ricard Puig Martí', 'Clément Lenglet'): 26, ('Ronald Federico Araújo da Silva', 'Francisco António Machado Mota de Castro Trincão'): 2, ('Francisco António Machado Mota de Castro Trincão', 'Sergino Dest'): 23, ('Francisco António Machado Mota de Castro Trincão', 'Ronald Federico Araújo da Silva'): 3, ('Marc-André ter Stegen', 'Martin Braithwaite Christensen'): 14, ('Sergino Dest', 'Marc-André ter Stegen'): 22, ('Marc-André ter Stegen', 'Sergino Dest'): 25, ('Sergino Dest', 'Jordi Alba Ramos'): 10, ('Clément Lenglet', 'Lionel Andrés Messi Cuccittini'): 73, ('Jordi Alba Ramos', 'Sergino Dest'): 21, ('Sergio Busquets i Burgos', 'Sergino Dest'): 111, ('Francisco António Machado Mota de Castro Trincão', 'Sergio Busquets i Burgos'): 14, ('Sergio Busquets i Burgos', 'Martin Braithwaite Christensen'): 14, ('Jordi Alba Ramos', 'Miralem Pjanić'): 46, ('Miralem Pjanić', 'Lionel Andrés Messi Cuccittini'): 102, ('Jordi Alba Ramos', 'Francisco António Machado Mota de Castro Trincão'): 13, ('Francisco António Machado Mota de Castro Trincão', 'Miralem Pjanić'): 24, ('Miralem Pjanić', 'Ricard Puig Martí'): 18, ('Lionel Andrés Messi Cuccittini', 'Martin Braithwaite Christensen'): 44, ('Martin Braithwaite Christensen', 'Lionel Andrés Messi Cuccittini'): 33, ('Marc-André ter Stegen', 'Miralem Pjanić'): 12, ('Miralem Pjanić', 'Sergino Dest'): 26, ('Sergino Dest', 'Francisco António Machado Mota de Castro Trincão'): 22, ('Miralem Pjanić', 'Francisco António Machado Mota de Castro Trincão'): 28, ('Francisco António Machado Mota de Castro Trincão', 'Ricard Puig Martí'): 7, ('Lionel Andrés Messi Cuccittini', 'Miralem Pjanić'): 64, ('Miralem Pjanić', 'Sergio Busquets i Burgos'): 34, ('Sergino Dest', 'Miralem Pjanić'): 30, ('Sergio Busquets i Burgos', 'Miralem Pjanić'): 29, ('Marc-André ter Stegen', 'Francisco António Machado Mota de Castro Trincão'): 9, ('Marc-André ter Stegen', 'Óscar Mingueza García'): 108, ('Óscar Mingueza García', 'Ousmane Dembélé'): 53, ('Ousmane Dembélé', 'Miralem Pjanić'): 37, ('Miralem Pjanić', 'Ousmane Dembélé'): 31, ('Ronald Federico Araújo da Silva', 'Miralem Pjanić'): 9, ('Miralem Pjanić', 'Clément Lenglet'): 30, ('Ricard Puig Martí', 'Miralem Pjanić'): 25, ('Miralem Pjanić', 'Antoine Griezmann'): 19, ('Antoine Griezmann', 'Ricard Puig Martí'): 13, ('Ricard Puig Martí', 'Óscar Mingueza García'): 25, ('Óscar Mingueza García', 'Antoine Griezmann'): 44, ('Ronald Federico Araújo da Silva', 'Óscar Mingueza García'): 65, ('Antoine Griezmann', 'Miralem Pjanić'): 21, ('Antoine Griezmann', 'Óscar Mingueza García'): 43, ('Miralem Pjanić', 'Marc-André ter Stegen'): 8, ('Miralem Pjanić', 'Jordi Alba Ramos'): 43, ('Clément Lenglet', 'Frenkie de Jong'): 246, ('Frenkie de Jong', 'Clément Lenglet'): 235, ('Martin Braithwaite Christensen', 'Ricard Puig Martí'): 10, ('Sergio Busquets i Burgos', 'Frenkie de Jong'): 317, ('Frenkie de Jong', 'Miralem Pjanić'): 88, ('Miralem Pjanić', 'Frenkie de Jong'): 91, ('Frenkie de Jong', 'Antoine Griezmann'): 129, ('Óscar Mingueza García', 'Sergio Busquets i Burgos'): 167, ('Antoine Griezmann', 'Frenkie de Jong'): 88, ('Miralem Pjanić', 'Óscar Mingueza García'): 41, ('Óscar Mingueza García', 'Frenkie de Jong'): 198, ('Marc-André ter Stegen', 'Frenkie de Jong'): 96, ('Clément Lenglet', 'Miralem Pjanić'): 35, ('Frenkie de Jong', 'Martin Braithwaite Christensen'): 23, ('Martin Braithwaite Christensen', 'Miralem Pjanić'): 4, ('Ricard Puig Martí', 'Martin Braithwaite Christensen'): 8, ('Sergio Busquets i Burgos', 'Óscar Mingueza García'): 149, ('Ousmane Dembélé', 'Frenkie de Jong'): 59, ('Frenkie de Jong', 'Sergio Busquets i Burgos'): 297, ('Ousmane Dembélé', 'Óscar Mingueza García'): 20, ('Clément Lenglet', 'Martin Braithwaite Christensen'): 10, ('Frenkie de Jong', 'Óscar Mingueza García'): 153, ('Óscar Mingueza García', 'Miralem Pjanić'): 51, ('Ricard Puig Martí', 'Frenkie de Jong'): 19, ('Martin Braithwaite Christensen', 'Antoine Griezmann'): 14, ('Antoine Griezmann', 'Martin Braithwaite Christensen'): 11, ('Martin Braithwaite Christensen', 'Clément Lenglet'): 3, ('Óscar Mingueza García', 'Clément Lenglet'): 81, ('Frenkie de Jong', 'Marc-André ter Stegen'): 48, ('Clément Lenglet', 'Ousmane Dembélé'): 49, ('Frenkie de Jong', 'Ricard Puig Martí'): 18, ('Ricard Puig Martí', 'Antoine Griezmann'): 10, ('Óscar Mingueza García', 'Ricard Puig Martí'): 11, ('Frenkie de Jong', 'Jordi Alba Ramos'): 232, ('Pedro González López', 'Ricard Puig Martí'): 8, ('Ricard Puig Martí', 'Pedro González López'): 8, ('Pedro González López', 'Miralem Pjanić'): 30, ('Ricard Puig Martí', 'Marc-André ter Stegen'): 1, ('Pedro González López', 'Óscar Mingueza García'): 65, ('Pedro González López', 'Sergio Busquets i Burgos'): 133, ('Pedro González López', 'Frenkie de Jong'): 140, ('Óscar Mingueza García', 'Lionel Andrés Messi Cuccittini'): 97, ('Francisco António Machado Mota de Castro Trincão', 'Jordi Alba Ramos'): 20, ('Francisco António Machado Mota de Castro Trincão', 'Frenkie de Jong'): 17, ('Jordi Alba Ramos', 'Frenkie de Jong'): 269, ('Lionel Andrés Messi Cuccittini', 'Frenkie de Jong'): 212, ('Frenkie de Jong', 'Lionel Andrés Messi Cuccittini'): 285, ('Marc-André ter Stegen', 'Antoine Griezmann'): 25, ('Antoine Griezmann', 'Francisco António Machado Mota de Castro Trincão'): 15, ('Francisco António Machado Mota de Castro Trincão', 'Pedro González López'): 22, ('Lionel Andrés Messi Cuccittini', 'Óscar Mingueza García'): 63, ('Óscar Mingueza García', 'Pedro González López'): 51, ('Clément Lenglet', 'Francisco António Machado Mota de Castro Trincão'): 10, ('Frenkie de Jong', 'Pedro González López'): 177, ('Óscar Mingueza García', 'Marc-André ter Stegen'): 83, ('Francisco António Machado Mota de Castro Trincão', 'Antoine Griezmann'): 12, ('Frenkie de Jong', 'Francisco António Machado Mota de Castro Trincão'): 27, ('Jordi Alba Ramos', 'Samuel Yves Umtiti'): 56, ('Samuel Yves Umtiti', 'Pedro González López'): 46, ('Clément Lenglet', 'Óscar Mingueza García'): 62, ('Frenkie de Jong', 'Samuel Yves Umtiti'): 40, ('Samuel Yves Umtiti', 'Clément Lenglet'): 20, ('Clément Lenglet', 'Samuel Yves Umtiti'): 34, ('Samuel Yves Umtiti', 'Ousmane Dembélé'): 2, ('Samuel Yves Umtiti', 'Jordi Alba Ramos'): 69, ('Marc-André ter Stegen', 'Samuel Yves Umtiti'): 42, ('Samuel Yves Umtiti', 'Frenkie de Jong'): 53, ('Samuel Yves Umtiti', 'Francisco António Machado Mota de Castro Trincão'): 2, ('Frenkie de Jong', 'Ousmane Dembélé'): 108, ('Samuel Yves Umtiti', 'Sergio Busquets i Burgos'): 44, ('Sergio Busquets i Burgos', 'Samuel Yves Umtiti'): 40, ('Samuel Yves Umtiti', 'Marc-André ter Stegen'): 40, ('Samuel Yves Umtiti', 'Antoine Griezmann'): 19, ('Óscar Mingueza García', 'Sergino Dest'): 143, ('Sergino Dest', 'Óscar Mingueza García'): 128, ('Óscar Mingueza García', 'Samuel Yves Umtiti'): 24, ('Frenkie de Jong', 'Sergino Dest'): 138, ('Sergino Dest', 'Antoine Griezmann'): 77, ('Antoine Griezmann', 'Sergino Dest'): 58, ('Lionel Andrés Messi Cuccittini', 'Samuel Yves Umtiti'): 10, ('Samuel Yves Umtiti', 'Lionel Andrés Messi Cuccittini'): 10, ('Pedro González López', 'Sergino Dest'): 95, ('Pedro González López', 'Samuel Yves Umtiti'): 21, ('Antoine Griezmann', 'Samuel Yves Umtiti'): 13, ('Sergino Dest', 'Clément Lenglet'): 23, ('Sergino Dest', 'Frenkie de Jong'): 146, ('Martin Braithwaite Christensen', 'Pedro González López'): 13, ('Frenkie de Jong', 'Moriba Kourouma Kourouma'): 29, ('Moriba Kourouma Kourouma', 'Óscar Mingueza García'): 27, ('Óscar Mingueza García', 'Moriba Kourouma Kourouma'): 25, ('Moriba Kourouma Kourouma', 'Frenkie de Jong'): 27, ('Moriba Kourouma Kourouma', 'Sergino Dest'): 8, ('Pedro González López', 'Martin Braithwaite Christensen'): 15, ('Héctor Junior Firpo Adames', 'Clément Lenglet'): 14, ('Óscar Mingueza García', 'Ronald Federico Araújo da Silva'): 55, ('Frenkie de Jong', 'Ronald Federico Araújo da Silva'): 58, ('Pedro González López', 'Ronald Federico Araújo da Silva'): 25, ('Ronald Federico Araújo da Silva', 'Frenkie de Jong'): 77, ('Pedro González López', 'Sergi Roberto Carnicer'): 30, ('Sergi Roberto Carnicer', 'Pedro González López'): 20, ('Óscar Mingueza García', 'Sergi Roberto Carnicer'): 80, ('Sergi Roberto Carnicer', 'Óscar Mingueza García'): 81, ('Jordi Alba Ramos', 'Óscar Mingueza García'): 42, ('Lionel Andrés Messi Cuccittini', 'Sergi Roberto Carnicer'): 95, ('Moriba Kourouma Kourouma', 'Sergi Roberto Carnicer'): 4, ('Sergi Roberto Carnicer', 'Ousmane Dembélé'): 60, ('Óscar Mingueza García', 'Jordi Alba Ramos'): 40, ('Sergi Roberto Carnicer', 'Clément Lenglet'): 8, ('Frenkie de Jong', 'Sergi Roberto Carnicer'): 66, ('Sergi Roberto Carnicer', 'Marc-André ter Stegen'): 9, ('Clément Lenglet', 'Sergi Roberto Carnicer'): 14, ('Sergi Roberto Carnicer', 'Moriba Kourouma Kourouma'): 14, ('Sergi Roberto Carnicer', 'Frenkie de Jong'): 66, ('Francisco António Machado Mota de Castro Trincão', 'Óscar Mingueza García'): 33, ('Óscar Mingueza García', 'Francisco António Machado Mota de Castro Trincão'): 47, ('Francisco António Machado Mota de Castro Trincão', 'Sergi Roberto Carnicer'): 32, ('Sergi Roberto Carnicer', 'Francisco António Machado Mota de Castro Trincão'): 48, ('Sergino Dest', 'Philippe Coutinho Correia'): 14, ('Martin Braithwaite Christensen', 'Philippe Coutinho Correia'): 14, ('Philippe Coutinho Correia', 'Clément Lenglet'): 16, ('Jordi Alba Ramos', 'Philippe Coutinho Correia'): 142, ('Philippe Coutinho Correia', 'Martin Braithwaite Christensen'): 16, ('Philippe Coutinho Correia', 'Jordi Alba Ramos'): 115, ('Lionel Andrés Messi Cuccittini', 'Philippe Coutinho Correia'): 86, ('Philippe Coutinho Correia', 'Lionel Andrés Messi Cuccittini'): 58, ('Philippe Coutinho Correia', 'Sergino Dest'): 18, ('Philippe Coutinho Correia', 'Sergio Busquets i Burgos'): 39, ('Martin Braithwaite Christensen', 'Frenkie de Jong'): 23, ('Philippe Coutinho Correia', 'Antoine Griezmann'): 32, ('Antoine Griezmann', 'Philippe Coutinho Correia'): 21, ('Philippe Coutinho Correia', 'Frenkie de Jong'): 49, ('Martin Braithwaite Christensen', 'Sergio Busquets i Burgos'): 9, ('Marc-André ter Stegen', 'Philippe Coutinho Correia'): 6, ('Martin Braithwaite Christensen', 'Sergino Dest'): 8, ('Clément Lenglet', 'Philippe Coutinho Correia'): 37, ('Sergio Busquets i Burgos', 'Philippe Coutinho Correia'): 31, ('Frenkie de Jong', 'Philippe Coutinho Correia'): 67, ('Philippe Coutinho Correia', 'Ronald Federico Araújo da Silva'): 9, ('Sergino Dest', 'Martin Braithwaite Christensen'): 10, ('Pedro González López', 'Philippe Coutinho Correia'): 9, ('Philippe Coutinho Correia', 'Pedro González López'): 14, ('Sergino Dest', 'Pedro González López'): 106, ('Pedro González López', 'Francisco António Machado Mota de Castro Trincão'): 12, ('Norberto Murara Neto', 'Clément Lenglet'): 35, ('Jordi Alba Ramos', 'Anssumane Fati'): 56, ('Anssumane Fati', 'Frenkie de Jong'): 27, ('Gerard Piqué Bernabéu', 'Sergi Roberto Carnicer'): 122, ('Sergi Roberto Carnicer', 'Gerard Piqué Bernabéu'): 92, ('Gerard Piqué Bernabéu', 'Frenkie de Jong'): 91, ('Frenkie de Jong', 'Gerard Piqué Bernabéu'): 98, ('Sergi Roberto Carnicer', 'Sergio Busquets i Burgos'): 123, ('Sergi Roberto Carnicer', 'Philippe Coutinho Correia'): 15, ('Lionel Andrés Messi Cuccittini', 'Anssumane Fati'): 28, ('Jordi Alba Ramos', 'Norberto Murara Neto'): 10, ('Norberto Murara Neto', 'Frenkie de Jong'): 21, ('Frenkie de Jong', 'Anssumane Fati'): 35, ('Anssumane Fati', 'Philippe Coutinho Correia'): 27, ('Sergio Busquets i Burgos', 'Norberto Murara Neto'): 3, ('Norberto Murara Neto', 'Antoine Griezmann'): 3, ('Antoine Griezmann', 'Anssumane Fati'): 10, ('Norberto Murara Neto', 'Gerard Piqué Bernabéu'): 36, ('Sergio Busquets i Burgos', 'Sergi Roberto Carnicer'): 88, ('Anssumane Fati', 'Sergio Busquets i Burgos'): 20, ('Anssumane Fati', 'Lionel Andrés Messi Cuccittini'): 28, ('Philippe Coutinho Correia', 'Sergi Roberto Carnicer'): 16, ('Anssumane Fati', 'Clément Lenglet'): 4, ('Philippe Coutinho Correia', 'Gerard Piqué Bernabéu'): 5, ('Sergi Roberto Carnicer', 'Antoine Griezmann'): 54, ('Anssumane Fati', 'Jordi Alba Ramos'): 30, ('Philippe Coutinho Correia', 'Anssumane Fati'): 38, ('Clément Lenglet', 'Anssumane Fati'): 14, ('Norberto Murara Neto', 'Sergi Roberto Carnicer'): 18, ('Gerard Piqué Bernabéu', 'Norberto Murara Neto'): 47, ('Norberto Murara Neto', 'Jordi Alba Ramos'): 12, ('Anssumane Fati', 'Antoine Griezmann'): 9, ('Sergi Roberto Carnicer', 'Jordi Alba Ramos'): 14, ('Clément Lenglet', 'Norberto Murara Neto'): 14, ('Anssumane Fati', 'Sergi Roberto Carnicer'): 6, ('Sergi Roberto Carnicer', 'Lionel Andrés Messi Cuccittini'): 116, ('Norberto Murara Neto', 'Sergio Busquets i B

                           Passing                        Receiving  Frequency
0   Lionel Andrés Messi Cuccittini         Sergio Busquets i Burgos        256
1         Sergio Busquets i Burgos         Moriba Kourouma Kourouma         47
2         Moriba Kourouma Kourouma  Ronald Federico Araújo da Silva         26
3  Ronald Federico Araújo da Silva            Marc-André ter Stegen         85
4            Marc-André ter Stegen                  Clément Lenglet        168

In [ ]:
# Shots and goals of each player
players = []
for player in shooters['player_from']:
  df = shots_df.loc[shots_df['player'] == player]
  shots = df.shape[0]
  goals = df.loc[df['shot_outcome'] == 'Goal'].shape[0]
  players.append((player,shots,goals))
shots = pd.DataFrame(list(players),
               columns =['Player', 'Shots',"Goals"])
shots

                                              Player  Shots  Goals
0                                   Jordi Alba Ramos     24      3
1                     Lionel Andrés Messi Cuccittini    195     30
2                                    Frenkie de Jong     15      2
3                           Sergio Busquets i Burgos      2      0
4                              Marc-André ter Stegen      1      0
5                                  Antoine Griezmann     64     12
6                                    Clément Lenglet     10      1
7                               Pedro González López     22      3
8                                       Sergino Dest     14      2
9                              Óscar Mingueza García      9      2
10                             Gerard Piqué Bernabéu      8      0
11                                   Ousmane Dembélé     47      5
12                   Ronald Federico Araújo da Silva     10      2
13                    Martin Braithwaite Christensen     22      2
14                            Sergi Roberto Carnicer      5      1
15                         Philippe Coutinho Correia     27      2
16                              Norberto Murara Neto      0      0
17                                    Anssumane Fati     14      4
18                                    Miralem Pjanić     14      0
19                                Samuel Yves Umtiti      2      0
20                          Moriba Kourouma Kourouma     13      1
21                                 Ricard Puig Martí      3      0
22  Francisco António Machado Mota de Castro Trincão     20      3
23                        Héctor Junior Firpo Adames      1      1

In [ ]:
#shots_df.loc[shots_df['player'] == 'Marc-André ter Stegen']
shots_df.play_pattern.unique()

array(['From Corner', 'Regular Play', 'From Counter', 'From Free Kick',
       'From Throw In', 'From Goal Kick', 'From Keeper', 'Other',
       'From Kick Off'], dtype=object)